[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scikit-learn = "*"
pandas = "*"
sklearn-pandas = "*"
flask = "*"
gunicorn = "*"
request = "*"
numpy = "*"
matplotlib = "*"
plotly = "*"
dash = "*"
requests = "*"
geopy = "*"

[requires]
python_version = "3.7"
