{% extends "layout.html" %}
{% block content %}

<br>

<h3>Cool Things 🤪</h3>
<br>
<p>Self-explainatory.</p>
<br>
<p>Stay tuned for a cool visual... </p>


<p>If you're still interested (which you should be), what these numbers are saying is that in Ontario from 2017-2018, the total number of all ED visits were ~6.4M and out of those, ~1.9M of visits were from frequent ED users.
<a href="https://www.cihi.ca/en" target="_new">The National Ambulatory Care Reporting System</a> defines "Frequent ED user: Patient with four or more ED visits in the fiscal year".
<br>
<p><b>More than 1/4 of Ontario's Emergency Department (ED) visits were from an individual who's been there 4 times or more.
  <br>
  <br>
  What do you think about that?</b></p>
<img src="{{ url_for('static', filename='img/frequent_users_chart.png') }}">
<br>
<br>
<br>
<h4>Other Cool Things (you're probably going to watch on the 🚽...)</h4>
<p>
<ul>
  <li><a href="https://www.youtube.com/watch?v=tylvc9dY400" target="_new">TedTalk (EDxMaastricht): Fred Lee - "Patient Satisfaction or Patient Experience?"</a></li>
  <li><a href="https://www.ted.com/talks/brian_goldman_doctors_make_mistakes_can_we_talk_about_that#t-145682" target="_new">TedTalk (Toronto - Mount Sinai): "Doctors make mistakes. Can we talk about that?"</a></li>
</ul>
<br>
</p>
{% endblock %}
