<!DOCTYPE html>
<html>
<CENTER>
  <br>
  <title>patiently waiting</title>
  <body>
    <h3>patiently waiting</h3>
    <form action = "/result" method="POST">
      <p>Select Day:
      <select name="day">
        <option value='Monday'>Monday</option>
        <option value='Tuesday'>Tuesday</option>
        <option value='Wednesday'>Wednesday</option>
        <option value='Thursday'>Thursday</option>
        <option value='Friday'>Friday</option>
        <option value='Saturday',>Saturday</option>
        <option value='Sunday'>Sunday</option>
      </select>
      <p><input type ="Submit" value="Submit"/></p>
    </form>
  </body>
</html>
