<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <h3>patiently waiting</h3>
    <form action = "/result" method="POST">
      <p>Select Day:
      <select name="day">
        <option value='Monday'>Monday</option>
        <option value='Tuesday'>Tuesday</option>
        <option value='Wednesday'>Wednesday</option>
        <option value='Thursday'>Thursday</option>
        <option value='Friday'>Friday</option>
        <option value='Saturday',>Saturday</option>
        <option value='Sunday'>Sunday</option>
      </select>
      <p><input type ="Submit" value="Submit"/></p>
    </form>


    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of GA
  var GA = {lat: 43.647991, lng: -79.386646};
  // The map, centered at college_yonge
  var c_y = {lat: 43.662174, lng: -79.383724};
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 13, center: c_y});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: GA, map: map});
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATTdcEqpPL2yZoFPkhvBcJC7PN0Vxg3f0&callback=initMap">
    </script>
  </body>
</html>
