{% extends "layout.html" %}
{% block content %}

<br>
<h1><b>PATIENTLY WAITING</b></h1>
<h5>A smarter way to check emergency department wait times in Toronto.</h5>
<br>
<!-- If you are experiencing a medical emergency, please call 911 immediately. -->

    <form action="{{url_for('result')}}" method="POST">
      <h6>What day would you like to check for ED hospital wait times?</h6>
      <!-- <small id="profileHelp" class="form-text text-muted">This will help our walk bot generate a custom walk just for you.</small> -->
      <div class="form-group">
        <label for="day">Day:</label>
        <select name="day">
          <option value='Monday'>Monday</option>
          <option value='Tuesday'>Tuesday</option>
          <option value='Wednesday'>Wednesday</option>
          <option value='Thursday'>Thursday</option>
          <option value='Friday'>Friday</option>
          <option value='Saturday',>Saturday</option>
          <option value='Sunday'>Sunday</option>
        </select>
        <input hidden name="latitude" id="latitude" value="43.647273"/>
        <input hidden name="longitude" id="longitude" value ="-79.386560"/>
      </div>
      <small id="durationHelp" class="form-text text-muted">* For this example, We're starting at General Assembly (200 King St. W).</small>
      <br>
          <button type="submit" class="btn btn-primary">Do I have to wait any longer?!  🚑</button>
    </form>
    <br>

    <div id="map" style="width:100%;height:600px;"></div>
    <script>
      var map;
       var markers = [];
      // Adds a marker to the map.
      function addMarker(location, map) {
          // Add the marker at the clicked location, and add the next-available label
          // from the array of alphabetical characters.
          //  marker.setMap(null);
          clearMarkers();
          var marker = new google.maps.Marker({
            position: location,
            label: "Starting Point",
            label: "I'm here",
            map: map
          });
          markers.push(marker)
        //  alert(marker.position)
      }

      // Sets the map on all markers in the array.
     function setMapOnAll(map) {
       for (var i = 0; i < markers.length; i++) {
         markers[i].setMap(map);
       }
     }

     // Removes the markers from the map, but keeps them in the array.
     function clearMarkers() {
       setMapOnAll(null);
     }

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          // near GA
          center: {lat: 43.647273, lng: -79.386560},
          zoom: 14
        });
        // var myLatLng = {lat: {{starting_lat}}, lng:{{starting_long}}};
        var marker = new google.maps.Marker({
          position: {lat: 43.647273, lng: -79.386560},
          map: map,
          title: 'Starting Point',
          label: 'Start',
          draggable:true,
          animation: google.maps.Animation.DROP
        });
        markers.push(marker)
        // This event listener calls addMarker() when the map is clicked.
        google.maps.event.addListener(map, 'click', toggleBounce, function(event) {
            addMarker(event.latLng, map);
            $("#latitude").val(event.latLng.lat().toFixed(6));
            $("#longitude").val(event.latLng.lng().toFixed(6));
        });

        // bounces to indicate still need to move it
        function toggleBounce() {
          if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
          } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
          }
        }

        // // adds a listener to the marker
        //    // gets the coords when drag event ends
        //    // then updates the input with the new coords
        //    google.maps.event.addListener(vMarker, 'dragend', function (evt) {
        //        $("#txtLat").val(evt.latLng.lat().toFixed(6));
        //        $("#txtLng").val(evt.latLng.lng().toFixed(6));
        //
        //        map.panTo(evt.latLng);
        //    });
        //

      }
    </script>
      <script src="https://maps.googleapis.com/maps/api/js?key={{google_key}}&callback=initMap"
    async defer></script>
{% endblock %}
